.batDia {
    position: relative;
}

.batDia img:nth-child(3) {
    width: 50%;
    position: absolute;
    top: 13%;
    left: 60%;
}


/* Quan Cược CSS */
.quanCuoc img {
    position: absolute;
    top: 25%;
    left: 34%;
    width: 34%;
}
/* Nghe Vi */
.ngheVi img{
    width: 95%;
}
/* Đặt Cửa Thêm */
.datCuaThem img{
    width: 50%;
}