body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../public/img/chieu.jpg)  ;
  background-size:cover;
  background-repeat: no-repeat;
  font-weight: bolder;
  color: aliceblue;
  -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
  zoom: 0.8; /* Other non-webkit browsers */
  zoom: 90%; /* Webkit browsers */
}
h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}
